@use "../variables";

.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 10px;
    color: #fff;
    background-color: variables.$buttonColor;
    transition: transform 0.5s ease, background-color 0.5s ease;

    &:hover {
        transform: scale(1.05);
        background-color: variables.$hoverButtonColor;
    }

    @media (max-width: variables.$sm-desktop) {
        display: flex;
        align-items: center;
    }

    @media (max-width: variables.$mobile) {
        display: block;
        width: 100%;
    }
}
