// Colors
$buttonColor: #547062;
$hoverButtonColor: #72857b;
$gradient1: #dce7df;
$gradient2: #b7c9b7;
$gradient3: #9db39d;
$gradient4: #90a794;
$mainTextColor: #000;


//Breakpoints
$mobile: 640px;
$sm-desktop: 1024px;