@use "variables";
@use "hero";
@use "event";
@use "./components/buttons";
@use "./components/infos-bar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

.container {
    max-width: 920px;
    width: 100%;
    margin: 0 auto;
}
